# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore




data_to_mongo_app/*~
data_to_mongo_app/*.sw[mnpcod]
data_to_mongo_app/*.log
data_to_mongo_app/*.tmp
data_to_mongo_app/*.tmp.*
data_to_mongo_app/log.txt
data_to_mongo_app/*.sublime-project
data_to_mongo_app/*.sublime-workspace
data_to_mongo_app/.vscode/
data_to_mongo_app/npm-debug.log*

data_to_mongo_app/.idea/
data_to_mongo_app/.sass-cache/
data_to_mongo_app/.tmp/
data_to_mongo_app/.versions/
data_to_mongo_app/coverage/
data_to_mongo_app/dist/
data_to_mongo_app/node_modules/
data_to_mongo_app/tmp/
data_to_mongo_app/temp/
data_to_mongo_app/hooks/
data_to_mongo_app/platforms/
data_to_mongo_app/plugins/
data_to_mongo_app/plugins/android.json
data_to_mongo_app/plugins/ios.json
data_to_mongo_app/www/
data_to_mongo_app/$RECYCLE.BIN/

data_to_mongo_app/.sourcemaps/

data_to_mongo_app/.DS_Store
data_to_mongo_app/Thumbs.db
data_to_mongo_app/UserInterfaceState.xcuserstate
nodejs_server/package-lock.json
nodejs_server/node_modules/